.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sideResumen {
    height: 97%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    margin-left: 253px;
    border-radius: 0 0 12px 12px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}