

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

.button-primary {
    background-color: #ff2d03;    
    height: 40px;
    border-radius: 250px;
    font-size: 18px;
    color: #fff;
    border: 1px solid #d55757;
}

.link-nav {
    color: #fff;
    text-decoration: none;
    background-color: #ff2d0300;
    border: none;
    cursor: pointer;
}

.avatar {
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}